* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
/* HEADER START */


/* HEADER END */
/* INFO START */

/* INFO END */
/* QUOTE START */


/* QUOTE END */
/* SIGN UP START */

/* SIGN UP END */

/* FOOTER START */


/* FOOTER END */




